html,
body {
    margin: 0; /* NEW */
    overflow: hidden; /* NEW */
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: auto;
}

.form-switch .form-check-input {
    width: 4em;
    height: 2em;
}

label {
    margin: 7px;
}

.form-input {
    margin-top: 6px;
    margin-right: 20px;
}